@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  font-size: 14px;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/* solution */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header ul,
.footer ul {
  display: flex;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 8px;
}

.buttons button {
  padding: 5px;
  border-radius: 5px;
}

.footer {
  background: #ddd;
  color: #343131;
}